/* Import Google font - Poppins */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.container{
  display: flex;
  /* width: 100%; */
  gap: 10px;
  padding: 10px;
  /* max-width: 1050px; */
}
section{
  background: rgb(233, 228, 228);
  border-radius: 7px;
}
.tools-board{
  
  /* margin-left: 20%; */
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 10px;

}
.row .title{
  font-size: 12pt;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #4A98F7;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: left;
  /* margin-bottom: 10px; */
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  align-items: flex-start;
}
.colors .option{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
  margin-right: 5px;
}
.colors .option:nth-child(2){
  background-color: #000;
  margin-right: 5px;
}
.colors .option:nth-child(3){
  background-color: #E02020;
  margin-right: 5px;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
  margin-right: 5px;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
  margin-right: 5px;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  /* margin: 2px; */
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
  /* margin: 2px; */
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 8pt;
  margin-bottom: 5px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .upload-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}

.upload-img
{
  background-color: red;
  font-size: 12pt;
}

.buttons .Draw-Textbox{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}

.buttons .save-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.buttons .save-annotation{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.buttons .previewContainer{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}


#imgContainer
{
  margin-top: 10%;
  margin-left: 20%;
  
}
.fileUpload
{
  
  background-color: #4A98F7;
  height: 25px;
  width: auto;
  display: none;
  position: relative;
  margin-left: 15%;
  border: 2px solid rgb(14, 165, 202);
  border-radius: 5px;
  background-image: './icons/brush.svg';

}

#inputDiv
{
  margin-top:500px;
  margin-left: 440px;
  /* width:100px;
  height: 100px; */
  position: absolute;
  align-items: center;
}
.canvasDiv
{
  
  border:2px solid paleturquoise;
  width: 850px;
  margin-bottom: 5px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');